iframe{

    border: none;
    width:100%;
    object-fit: cover;
    height: 30%;
    
}
#body-category{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200vh;
}
#merch-section{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
    background-color: #718097;
    overflow-y: scroll;
}
.link-product{
    background-color: aliceblue;
    width: 95%;
    height: 30vh;
    margin: 0.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}
.link-product:hover{
    transform: scale(1.03);
    transition: all 0.1s;
}
.container{
    background-color: #052c6f;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.container-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 80%;
    margin: 1.5%;
    background-color: #fff;
}
.img-merch{
    width: 70%;
    height: 80%;
}
.container-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65%;
    height: 80%;
    margin: 1.5%;
    border: 2px solid;
    color: #052c6f;
}
.title-text{
    background-color: #fff;
    padding: 0 2% 0 2%;
}
