footer {
  background-color: #ffffff;
  color: rgb(31, 9, 112);
  margin-top: 25px;
  width: 80%;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid;
}
p {
  margin-left: 10px;
} 
#Dreamworks-Logo {
width: 30%;
margin: 2%;
}
