header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: blue;
    width: 100%;
    height: 30%;
}
#flex-box-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
}
#logo-principal{
    width: 20%;
    height: 20%;
    margin: 1.2%;
}
#nav-buttons{
    background-color: black;
    height: 10%;
}
#ul-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
}
.nav-button a{
    color: #fff;
    text-decoration: none;
    font-size: bolder;
}


