header{
    background-color: blue;
    width: 100%;
    position: fixed;
}
#flex-box-title{
    display: flex;
    gap: 21vw;
}
.title{
    width: 500px;
    place-self: center;
}
#nav-buttons{
    display: flex;
    justify-content: center;
    gap: 2%;
    background-color: rgb(48, 48, 176);
}
#nav-button{
    background-color: rgb(165, 241, 241);
    font-size: larger;
}
#logo-principal{
    padding-left: 3vw; 
    padding-top: 1vw;
}
